<html>
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script defer="defer" src="./js/filejs.js"></script>
</head>
<body>
<form method="post">
    <label for="filename">File name:</label>
    <input type="text" id="filename" name="filename"></br>
    <label for="checkbox">Text search:</label>
    <input type="checkbox" name="checkbox" id="checkbox">
    </br><textarea name="addtext" id="addtext" hidden="hidden"></textarea>
    </br><input id="submit" type="submit" name="submit" value="Do search">
</form>
<div id="results"></div>
<script>

</script>
</body>
</html>